:root {
  --primary-color: #ffc107;
  --text-color: #000;
  --white: #fff;
  --secondary-color: rgb(22, 22, 22);
  --third-color: #666;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
